.promo{
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url('../../img/first-screen/bg_girl.jpg') center (center/cover) no-repeat;
    background-attachment: fixed;
    // background-attachment: scroll;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items:flex-end;
        margin-top: 90px;
    }
    &__header {
        font-family: 'MuseoModerno';
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 42px;
        display: flex;
        align-items: flex-end;
        text-align: right;
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &__subheader {
        margin-top: 17px;
        font-family: 'MuseoModerno';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        display: flex;
        align-items: flex-end;
        text-align: right;
        text-transform: uppercase;
        line-height: 24px;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &__icons {
        margin-top: 65px;
        width: 425px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 116px;
        text-align: center;
        font-family: 'MuseoModerno';
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 14px;
        color: #fff;
        img {
            width: 40px;
            height: 40px;
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link {
        font-family: 'MuseoModerno';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        margin-top: 18px;
        color: #FFFFFF;

        a {

        text-decoration: underline;
        text-transform: uppercase;
        color:#FFFFFF;
        }
        a:hover {
            color: #000;
        }
    }
}
